<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>KEYQAudioUnit</string>
    <key>CFBundleIdentifier</key>
    <string>com.turbeaux.keyq.audiounit</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>KEYQ</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>AudioComponents</key>
    <array>
        <dict>
            <key>type</key>
            <string>aufx</string>
            <key>subtype</key>
            <string>keyq</string>
            <key>manufacturer</key>
            <string>Turb</string>
            <key>name</key>
            <string>KEYQ</string>
            <key>description</key>
            <string>KEYQ - Real-time FFT spectrum analyser</string>
            <key>version</key>
            <integer>1</integer>
            <key>factoryFunction</key>
            <string>KEYQAudioUnitFactory</string>
            <key>sandboxSafe</key>
            <true/>
        </dict>
    </array>
    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>